API_BASE_URL=https://wardriving-ctf.rf-village-mx.com/wardriving/api/v1/
API_LOGIN_PATH=auth/login/
API_REGISTER_PATH=auth/register/
API_PASSWORD_RECOVERY_PATH=auth/password/reset/
API_UPLOAD_PATH=files-uploaded/
API_UPLOAD_TYPE_WIFI_BLE=wifi_ble_android
API_UPLOAD_TYPE_LTE=lte_android
APP_ACCENT_COLOR=#00A676
MAPLIBRE_STYLE_URL=https://demotiles.maplibre.org/style.json
